{% extends 'common/base.html' %}

{% block title %}
    Comics
{% endblock title %}
    
{% block body %}
    <div class="col-md-auto">
        <ul class="nav">
            <li class="nav-item mb-3 ms-2">
                <a href="{% url 'comics:create_series' %}">
                    <button class="btn">
                        <i class="bi bi-plus-square-fill"></i>
                        Create
                    </button>
                </a>
            </li>
            <li class="nav-item mb-3 ms-2">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <div class="">
        {% for comic in all_comics %}
        <div class="item">
            <ul class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <a href="{% url 'comics:view_series' comic.pk comic.slug %}">{{comic.title}}</a>
                    </div>
                    {{comic.description|truncatechars:50}}
                  </div>
                  <span class="badge bg-primary rounded-pill">{{count}}</span>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock body %}
