{% extends 'common/base.html' %}

{% block title %}
    {{category.cat_name}}
{% endblock title %}

{% block body %}
    <div class="container">
        <h3>{{category.cat_name}}</h3>
        <ol class="list-group list-group-numbered">
            {% for comic in comics %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{comic.title}}</div>
                        {{comic.creator}}
                    </div>
                    <span class="badge rounded-pill" style="background-color: #F8CF2C;">{{comic.last_update}}</span>
                </li>
            {% endfor %}
          </ol>
    </div>
{% endblock body %}